*__pycache*
data*
*data
*data*
__pycache__
/.ipynb_checkpoints*
TME/TP1/.ipynb_checkpoints/TP1-2-checkpoint.ipynb
*.ipynb_checkpoints*
.DS_Store
TME/.DS_Store
TME/*/.DS_Store
*.DS_Store*
TME/TP1_2_3/figure_rapport/
*/figure_rapport/
TME/cnn_TP6-7/fig_rapport/
TME/TP4-5/fig_rapport/
*/fig_rapport/
TME/TP4-5/runs/
*/runs/
*/runs
TME/cnn_TP6-7/nabil/
*/nabil/*
TME/transfert_learning_8/numpy_object/
*/numpy_object/
*/numpy_object*
*/numpy_object/*

